doctype
html(lang=config.language)
  head
    include head
  body
    if page.path == 'index.html'
      #profile
        #logo
    #header
      .wrap
        header
          a.logo-link(href=url_for())
            img(src=theme.logo)
          include nav
      script(src=url_for("js/headeroom.js"))
      script(src=url_for("js/script.js"))
    .wrap
      section.container
        block container
      footer
        block pagination
        block copyright
    include scripts